/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f3f4f6;
  }
  
  /* Contenedor principal */
  .doctor-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Formulario */
  .form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #555;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Botones */
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-button {
    background-color: #4caf50;
    color: #fff;
  }
  
  .register-button:hover {
    background-color: #45a049;
  }
  
  .update-button {
    background-color: #2196f3;
    color: #fff;
  }
  
  .update-button:hover {
    background-color: #1976d2;
  }
  
  .delete-button {
    background-color: #f44336;
    color: #fff;
  }
  
  .delete-button:hover {
    background-color: #d32f2f;
  }
  